h3 {
    margin: 10px;
}

h5 {
    color: red;
    left: 50%;
    min-height: 15px;
    margin: 5px;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked+label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #432874
}

input[type=radio]+label>img {
    transition: 500ms all;
    display: flex;
}

.body-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap:10px;
}


.body-grid-item img {
    width: 100%;
    cursor: pointer;
    height: auto;
    border: 1px solid white;
}

.create-avatar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    background-color: #c2bbce;
    padding-bottom: 20px;
}

.create-avatar form {
    min-width: 700px;
    border: 3px solid #301b57;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.create-avatar form>button {
    display: flex;
    font-size: 18px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    margin-top: 15px;
}
.create-avatar form>button:hover {
    color: #301b57;

}

.delete-avatar-button {
    border: none;
    background-color: white;
    color: #301b57;
    position: absolute;
    top: 160px;
    left: 180px;
    list-style-type: none;
}
.delete-avatar-button li{
    padding: 15px;
}
.delete-avatar-button:hover {
    color: white;
    background-color: #9989b4;
}
.body-grid-item-current{
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 3px 3px #432874
}
.body-grid-item-current img {
    width: 100%;
    cursor: pointer;
    height: auto;
}
