h3 {
    margin-bottom: 0;
    margin-left: 5px;
}
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked+label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #432874
}

input[type=radio]+label>img {
    transition: 500ms all;
    display: flex;
}

.body-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.body-grid-item {
    margin: 10px;
}
