.div-main-avatar {
    position: relative;
    background-color: #36205D;
    padding: 15px;
    z-index: -999;
}

.avatar-container {
    position: absolute;
    top: 0;
    width: 90%;
    height: 150px;
}

.avatar-container img {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.avatar-container p {
    margin: 15px;
}

.user-info {
    position: absolute;
    top: 60px;
    left: 180px;
    color: white;
}

.user-info h2 {
    margin-bottom: 5px;
}

.no-info {
    display: flex;
    width: 90%;
    height: 100vh;
    font-size: 28px;
    justify-content: center;
}

.no-info a {
    margin-top: 50px;
}

.home-container h3 {
    padding: 10px;
    background-color: #36205D;
    font-weight: bold;
    color: white;
}

.home-container {
    border: 1px solid lightgrey;
    border-radius: 2px;
    flex-direction: column;
    background-color: #C2BBCE;
    padding: 10px 50px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.grid-item {
    text-align: center;
}

.home-item{
    background-color: white;
    margin: 15px;
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.home-item h4, p{
    margin-top: 1px;
    margin-bottom: 5px;
}
