/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka:wght@300..700&display=swap');

*{
    font-family: "Fredoka", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
