#modal-content{
    display: flex;
    width: 500px;
    height: 700px;
    justify-content: center;
    border-radius: 25px;
}
.form-create-daily{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.form-create-daily label{
    font-weight: bold;
    margin: 15px;
}
.form-create-daily input {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    font-size: 18px;
}
.form-create-daily button{
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.form-create-daily button:hover{
    color: black;
    cursor: pointer;
    border: 2px solid rgba(119, 79, 184, 0.2);
}
