.profile-dropdown {
  position: absolute;
  right: 10px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  list-style-type: none;
  border-radius: 5px;
}
.nav{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  background-color: #432874
}
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.nav-menu {
  color: white;
}
.nav-menu a {
  max-height: 100%;
  padding: 15px
}
.nav-menu a:hover{
  background-color: #533886
}
