.habitica-wrapper {
    padding: 20px 40px;
    background-color: #C2BBCE;
}

.habitica-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.habitica-header h1 {
    font-size: 36px;
    color: #333;
}

.habitica-habits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.habitica-habit {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-break: break-all;
    color: #333;
}

.habitica-habit h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.habitica-habit p {
    font-size: 16px;
    margin-bottom: 10px;
}

.habitica-habit-actions {
    display: flex;
    justify-content: space-around;
}

.habitica-wrapper li {
    background-color: #36205D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    list-style: none;
    font-weight: bold;
}

.habitica-wrapper li:hover {
    background-color: #4e367a;
}
